sudo: false
language: go
go:
  - 1.12.x
env:
  - GO111MODULE=on
install: true
before_script:
  - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.17.1
script:
  - golangci-lint run
  - go install ./cmd/clog
